# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Streamlit
.streamlit/secrets.toml

# Data and processing files
*.pkl
!processed_data/vector_store.faiss/index.pkl
!pdf_index.pkl
*.faiss
!processed_data/vector_store.faiss/index.faiss
*.bin
pdfs/
# Keep processed_data folder
# processed_data/

# Operating system files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/
*.swp
*.swo 